body > header {
  xbox-shadow: 0px 0px 7px #000;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  height: 58px;
  padding: 6px;
  background-color: black;
  color: #fff;
  z-index: 50;
}
body > header > div {
  margin: 0 auto;
  max-width: 70vw;
  display: block;
  display: flex;
  justify-content: space-between;
}
body > header > div img {
  position:relative;
    top: -4px;
    }
body > header > div a[rel=new] {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 24px;
  font-weight: bold;
    top: 22px;
}
body > header > div span {
  font-family: sans-serif;
  color: lime;
  line-height: 24px;
}
body > header > div {
  position: relative;
}
body header .menu {
  display: none;
	top: 58px;
	right: 0px;
}
.menu {
  position: absolute;
    display: inline-block;
	background-color: #fff;
	color: #000;
	padding: 12px;
	font-family: sans-serif;
	box-shadow: 0px 0px 12px #ccc;
}
.menu > li {
  font-weight: bold;
}
.menu > li ul {
  font-weight: normal;
    margin-bottom: 1em;
}
.menu > li:last-child ul {
  margin-bottom: 0;
  }
.menu > li ul li {
  margin: 0 1em;
	line-height: 1.4em;
}
.menu > li ul li a {
  text-decoration: none;
  color: #000;
}
.menu > li ul li a:hover {
  text-decoration: underline;
	cursor: pointer;
  color: rgba(228,38,146, 1);
}
.control.menu {
  display: none;
  margin-left: 6px;
}
.key-value .control.menu {
  display: inline-block;
}
.key-value.single .control.menu a[rel="mod:single"],
.key-value.multi  .control.menu a[rel="mod:multi"],
.key-value.multi  .control.menu a[rel="mod:rand"],
.key-value.multi  .control.menu a[rel^="reveal:"],
.key-value.shown  .control.menu a[rel="reveal:show"],
.key-value.hidden .control.menu a[rel="reveal:hide"]
{ display: none; }
footer {
  color: #888;
  text-align: center;
  padding: 1em;
  font-family: sans-serif;
  font-size: 14px;
}
footer a {
  color: #2F2BAD;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #2F2BAD;
}
body {
  position: absolute;
  width: 100vw;
}
.m {
  z-index: 5;
  display: block;
  margin: 128px auto;
  max-width: 70vw;
}
.m h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  margin: 1em 0;
  border-bottom: 1px dashed #ccc;
}
.m form > li {
  list-style: none;
  padding: 0;
  margin-bottom: 8px;
  margin: 14px 0;

}
.m form > li.key-value {
  margin: 8px 0;
}
.m form > li label,
.m .key-value .key {
  font-family: sans-serif;
  color: #777;
  font-size: 14px;

  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 10px;
}
.m form > li input,
.m form > li textarea {
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 4px;
    width: 55%;
}
.m form > li textarea {
  height: 10em;
      vertical-align: top;
}
.m form > li input:focus,
.m form > li textarea:focus {
  box-shadow: 2px 2px 8px #ccc;
}
input::placeholder {
  font-style: italic;
  color: #aaa;
}
.m form input::placeholder {
  font-weight: normal;
}
.m form .signed-by input,
.m form .path input {
  width: 70%;
    box-sizing: border-box;
}
.m form .path input:disabled {
  background-color: #fff;
  color: #2F2BAD;
}
input:focus::placeholder {
  opacity: 0;
}
.m form .new.key-value .widget { display: none; }
.m form > li a.widget {
  color: #999;
  text-decoration: none;
  border: none;
  font-size: 24px;
}
.m form > li a.widget:hover {
  color: #555;
}
.m form button {
  display: block;
margin-top: 14px;
  margin-left: 95px;
  font-size: 18px;
  font-size: 15px;
  background-color: #5FD0D4;
background-color: #EFA93A;
background-color: #2F2BAD;
  border: none;
  border-radius: 5px;
  padding: 6px 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.m ul.radio {
  list-style: none;
  display: inline-flex;
  justify-contents: left;
}
.m ul.radio li {
  font-family: sans-serif;
  padding: 4px 6px;
  cursor: pointer;
  opacity: 1;
    color: #ccc;
}
.m ul.radio li:hover {
  color: #000;
    background-color: rgba(228,38,146, 0.1);
  border-bottom: 4px solid rgba(228,38,146, 1);
  padding-bottom: 0px;
}
.m .expires-in ul.radio li {
  padding: 4px 2px;
}
.m .expires-in ul.radio li:hover {
  padding-bottom: 0px;
}
.m ul.radio li.selected {
  color: #000;
/*
  background-color: #ade32d;
background-color: #729849;
background-color: #FD2E58;
background-color: #E42692;
  color: #fff;
box-shadow: 0px 0px 3px #343D3A;
  border-radius: 4px;
*/
font-weight: bold;
  opacity: 1;
}
.m .expires-in > input {
  text-align: right;
  width: 4ex;
}
.tag {
  border-radius: 3px;
  background-color: #5FD0D4;
background-color: #AD2BAD;
  font-family: monospace;
  font-size: 11px;
  color: #fff;
  padding: 2px 6px;
	height: 14px;
}
.m .valid-for .tag {
  position: relative;
  top: 8px; left: 8px;
  vertical-align: top;
}
.m .valid-for + .valid-for label { visibility: hidden; }
.m .key-value .key {
  width: 80px;
  font-weight: normal;
  text-align: right;
}
.m form .autocomplete {
  margin-left: 94px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 15;
  position: relative;
	width: 49vw; /* 70% of 70% */
	min-width: 400px;
    position: absolute;

    border: none;
  box-shadow: 2px 2px 8px #ccc;

    max-height: 160px;
      overflow: scroll;
}

.m form .autocomplete li {
  display: flex;
padding-left: 8px;
}
.m form .autocomplete li:nth-child(even) {
  background-color: #eee;
}
.m form .autocomplete li:hover {
  cursor: pointer;
  padding-left: 4px;
    background-color: rgba(228,38,146, 0.1);
      border-left: 4px solid rgba(228,38,146, 1);
}

.m form .autocomplete li h2 {
  font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
	margin: 8px;
	width: auto;
	flex: 1;
}
.m form .autocomplete li .tag {
  position: relative;
	top: 8px;
	margin-right: 14px;
  height: 12px;
}



.m .q {
	display: flex;
	width: 70vw;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 14px;
	box-sizing: border-box;
}
.m .q input {
	font-size: 24px;
  border: none;
  width: 100%;
  margin-left: 8px;
}
.m .q span {
padding: 4px 12px 4px 4px;
border-right: 1px solid #999;
display: block;
width: 40px;
height: 32px;
float: left;
box-sizing: border-box;
margin-right: 8px;
line-height: 32px;
}

.m .no-data {
  padding: 16vh 0vh;
    line-height: 48px;
  font-size: 32px;
  font-family: sans-serif;
  color: #000;
  text-align: center;
}
.m .no-data a {
    text-decoration: none;
      color: #2F2BAD;
        border-bottom: 2px dotted #2F2BAD;
}

.m .results li {
  padding: 8px;
    padding-left: 16px;
  margin: 24px;
    cursor: pointer;
}
.m .results li:hover {
  padding: 8px;
    background-color: rgba(228,38,146, 0.1);
      border-left: 8px solid rgba(228,38,146, 1);
}
.m .results li header {
  display: flex;
  justify-content: space-between;
    width: 100%;
}
.m .results li h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  float: left;
  padding-right: 0.66em;
}
.m .results li h2 a {
  color: inherit;
  text-decoration: none;
}
.m .results li p {
  margin: 1em 1em 0.5em 1em;
  font-family: sans-serif;
    font-size: 13px;
}
.m .results li p + p {
  margin: 0.5em 1em;
}
.m .results li p span {
  font-weight: bold;
  font-family: monospace;
  border: 1px solid #ccc;
  padding: 1px 3px;
  border-radius: 2px;
  color: #000;
  background-color: #eee;
}


#modal {
  display: none;
  position: fixed; top: 0px; left: 0px;
  z-index: 150;
  height: 100vh; width: 100vw;
  background-color: rgba(255,255,255, 0.8);
}
body.modal {
  overflow: hidden;
}
#reveal {
  display: table;
  border-spacing: 0;
    border-collapse: collapse;
      box-shadow: 0px 0px 12px #ccc;
        overflow:hidden;
          z-index: 160;
            position:relative;
              background-color: #fff;
              top: 50vh;

              margin: 0px auto;
}
#reveal span {
  border: 1px solid #ccc;
    border-width: 1px 1px 1px 0px;
    display: inline-block;
      text-align: center;
        font-family: arial;
          padding: 3px;
            font-size: 36px;
              margin: 0;
                float: left;
                  border-collapse: collapse;
                    display: table-cell;
}
        #reveal span:first-child { border-left-width: 1px; }
        #reveal span.a { color: #000; }
        #reveal span.p { color: darkblue; }
        #reveal span.n { color: maroon; }


#reveal p {
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  margin-top: -1em;
}


form .errors li {
  background-color: rgba(255,0,0, 0.3);
  border-radius: 4px;
  padding: 8px;
  font-family: sans-serif;
}
